@media (max-width: 1200px)
  .container
    max-width: 960px

@media (max-width: 992px)
  .container
    max-width: 740px
    flex-basis: content
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
@media (max-width: 768px)

  .menu-menu-button
    display: flex
  .container
    max-width: 576px
    width: 87%
  .navbar
    &__serach, &-menu, &__user
      display: none
  .navbar__search
    display: none
    &-top

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__description
        margin: 5px 0

@media (max-width: 576px)
  .logo
    width: 99px
  .navbar-top
    width: 100%
    padding-top: 26px
    padding-bottom: 26px

    left: 0px
    top: 0px

@media (min-width: 320px) and (max-width: 768px)
  position: relative
  .navbar
    position: relative
  .logo
    width: 99px
  .hotel
    padding: 0
