@media (max-width: 1200px)
  .container
    max-width: 960px

  .hotel
    &-slider

      width: 590px
      border-radius: 8px
      &__image
        height: 100%
        object-fit: cover
        width: 100%

  .card
    width: 230px
    height: 230px
  .footer

    &__input
      flex-basis: 100%
  .footer__list.footer__additional

    width: 246px
  .footer__title.footer__legal
    width: 190px
@media (max-width: 992px)

  .container, .newsletter-wrapper

    max-width: 700px
    flex-basis: content

  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-slider
      width: 100%
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 230px

  .footer
    position: relative

    left: 0
    &-wrapper
      grid-template-columns: repeat(7, 1fr)

      grid-row-gap: 38px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2

    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
      &-networks
        margin-right: 98px

    &__categories
      grid-row: 2 / 3
      grid-column: span 2

      width: 162px

    .footer__list.footer__legal
      grid-column: span 2
      grid-row: 2

    &__additional
      grid-column: span 2

      width: 260px

    &__contact
      &-details
        grid-row: 3
        grid-column: span 5
      &-form
        grid-column: span 5
        grid-row: 4

        padding-bottom: 25px

@media (max-width: 768px)

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .slider
    height: 450px
  .booking
    width: 340px
    height: 210px
  .reviews
    &-slider
      &__item
        max-width: 580px
  h2.reviews__title
    font-size: 30px
    margin-bottom: 50px
  p.reviews-slider__text
    width: 455px
  .card
    width: 340px
    height: 255px
  .activities
    &__card
      #title-1
        width: 145px
      #title-2
        width: 153px
      #title-3
        width: 161px
      #title-4
        width: 200px

  .footer__list.footer__legal
    grid-column: span 2
    margin-left: auto
@media (max-width: 576px)
  .logo
    width: 99px
  .navbar-top
    width: 100%
    padding-top: 26px
    padding-bottom: 26px

    left: 0px
    top: 0px
  .slider
    height: 250px
  .hotel
    &-slider
      &__item
        max-width: 580px

@media (min-width: 320px) and (max-width: 767px)

  .container
    width: 88%
    position: relative
  body
    padding-top: 78px
  .navbar
    position: relative
    &__mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
  .logo
    width: 99px
  .hotel

  .menu-menu-button
    display: flex
  .navbar
    &__user, .navbar__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      position: fixed
      display: none
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .navbar__search
    display: none
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 179px
    margin-bottom: 20px
  .hotel
    &-right
      flex-direction: column

  .booking, .map
    width: 100%

  .map
    width: 100%

  .hotel
    &-slider
      height: 179px
    &-info
      padding-bottom: 38px
  .map
    width: 100%
    margin-top: 20px
    padding-bottom: 40px
    border-radius: 8px

  .newsletter

    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      flex-wrap: wrap
    .newsletter-wrapper
      align-items: flex-start

      bottom: 30px
      top: -60

    .subscribe
      width: 100%
  .newsletter

    padding: 76px 0 83px 0

    &-title

      font-size: 20px
      max-height: 68px
      margin-top: 0px
      margin-bottom: 37px

      &__strong
        display: block
        font-size: 30px
        line-height: 38px
        text-transform: uppercase
  .reviews

    padding-bottom: 0px

    &-slider
      &__item
        padding: 0 30px 30px

        padding-right: 29px
        &:after, &:before
          display: none
      &__text
        width: 219px

        margin-bottom: 42px

    &__title
      font-size: 30px
      line-height: 0
  h2.reviews__title
    line-height: 22,59px

    margin-bottom: 42px
    font-size: 18px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-align: center
    text-transform: uppercase
    width: 245px
    margin: auto
    margin-bottom: 42px

  .reviews-slider__button.reviews-slider__button
    top: 45px

    &--prev
      left: 50%
      margin-left: -80px
      transform: translate(-50%, 0)

      top: 29px

    &--next
      right: 50%
      margin-right: -80px
      transform: translate(50%, 0)
      top: 29px

  h2.newsletter-title
    margin-bottom: 37px

  p.reviews-slider__text
    width: 219px
    text-align: left
  .card
    width: 100%

  .activities__card

    padding-top: 0px

    padding-bottom: 60px
    &__title
      margin-bottom: 36px
      padding-top: 0px

      margin-top: 0px
      font-size: 18px
  .activities
    &-wrapper
      display: flex
      flex-flow: wrap
    #room-card-1
      order: 1
    #room-card-2
      order: 3
    #room-card-3
      order: 2
    #room-card-4
      order: 4
    &__title
      margin-bottom: 36px
      font-size: 18px
    &__card

      padding-bottom: 24px

  .newsletter
    &-wrapper
      top: 0px
  .footer
    &__input
      flex-basis: 100%
    &-wrapper
      position: relative
      grid-template-columns: 1fr
      grid-template-columns: repeat(1, minmax(min-width, 1fr))
      grid-auto-rows: minmax(40px, min-content)
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__legal

      margin-left: 0
      grid-row: 4
      grid-column: 1

      top: 74px

      left: 0px

      margin-left: 0

    &__additional

      margin-left: 0px

      grid-row: 5
      grid-column: 1

    &__categories
      grid-row: 6
      grid-column: 1
    &__contact
      &-details
        grid-row: 7
        grid-column: 1

        grid-column: span 1
      &-form
        grid-row: 8
        grid-column: 1
        grid-column: span 1
        grid-row-gap: 30px
        width: 100%
        padding-bottom: 0px

    &__info
      display: flex
      align-items: center
      justify-content: space-between
      width: 100%
      order: 0
      flex-grow: 0
      margin: 15px 0px
    &__button
      position: static
      width: 136px
      height: 22px
      left: 0px
      top: 25px

      flex: none
      order: 1
      grid-row: 9
      margin: 15px 0px

    &__social
      &-networks

        margin-right: 0px
        grid-row: 9
        grid-column: 1
      &-works
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        order: 0
        flex-grow: 0
        margin: 10px 0px
      &-links

        width: 136px
        height: 22px
        left: 0px
        top: 25px

        flex: none
        order: 1
        grid-row: 9
        margin: 10px 0px
      &-work
        flex: none
        order: 0
        flex-grow: 0
        margin: 20px 0px

      &-link
        position: absolute
        flex: none
        order: 1
        left: 0
        flex-grow: 0
        margin: 20px 0px
        margin-top: 38px

    &__message

      grid-row: 8
      grid-column: 1

      grid-row-gap: 30px
      width: 100%
      padding-bottom: 0px
