@media (max-width: 1200px)
  .container
    max-width: 960px
  .slider
    width: 590px
    border-radius: 8px
  .swiper
    &-slide
      &__image
        height: 100%
        object-fit: cover
        width: 100%
@media (max-width: 992px)
  .container
    max-width: 700px
    flex-basis: content
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      max-width: 340px

    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .hotel
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
  .booking
    width: 340px
  .slider
    width: 100%
  .map
    width: 340px
@media (max-width: 768px)

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .slider
    height: 450px
  .booking
    width: 340px
    height: 210px
  .map
    height: 210px
@media (max-width: 576px)
  .logo
    width: 99px
  .navbar-top
    width: 100%
    padding-top: 26px
    padding-bottom: 26px

    left: 0px
    top: 0px
  .slider
    height: 250px
  .hotel
    &__slider
      margin-bottom: 20px
@media (min-width: 320px) and (max-width: 767px)
  .container
    width: 88%
    position: relative
  .navbar
    position: relative
  .logo
    width: 99px
  .hotel
    padding: 0
  .menu-menu-button
    display: flex
  .navbar
    &__serach, &-menu, &__user
      display: none
  .navbar__search
    display: none
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between

    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    height: 350px
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
